.header{
    background-color: rgb(61, 181, 211);
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.header h1{
    font-size: 45px;
    margin-left: 80px;
}
.header a{
    text-decoration: none;
    color: white;
    margin-right: 70px;
    font-size: 30px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    align-items: flex-end;
    margin-left: 93px;
    margin-right: 73px; 
    padding-bottom: 15px;
    border-bottom: 5px solid black;
}

.title h2{
    font-size: 40px;
}
.weather-card{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    margin-left: 93px;
    margin-right: 73px;
}
.today-card{
    border: 2px solid rgb(201, 197, 197);
    width: 385px;
    height: 344px;
    background-color: rgb(233, 224, 224);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-icons{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    
}
.tomorrow-card{
    border: 2px solid rgb(201, 197, 197);
    width: 385px;
    height: 344px;
    background-color: rgb(233, 224, 224);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friday-card{
    border: 2px solid rgb(201, 197, 197);
    width: 385px;
    height: 344px;
    background-color: rgb(233, 224, 224);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saturday-card{
    border: 2px solid rgb(201, 197, 197);
    width: 385px;
    height: 344px;
    background-color: rgb(233, 224, 224);
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card div {
    margin-right: 40px;
}
.temperature-red{
    color: red;
    font-weight: bold;
    position: relative;
    top: 10px;
    right: 29px;
    font-size: large;
}
.temperature-blue{
    color: blue;
    font-weight: bold;
    position: relative;
    top: -47px;
    right: -34px;
    font-size: large;
}
.cookie-card{
    position: fixed;
    top: 0;
    margin-bottom: 10px;
    border: 2px solid black;
    background-color: #c7c4c4;
    margin-left: 100px;
    margin-right: 120px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.cookie-card div h3{
    font-size: 30px;
}
.cookie-card div p{
    font-size: 17px;
}
.cookie-card button{
    background-color: #5fbee9;
    color: black;
    padding: 5px;
    border: 2px solid black;
    margin: 5px auto;
    box-shadow: 5px 5px 0 0 black;
    width: 97px;
    font-weight: bold;
}